  <section id="about-me-summary">
      <div class="container wrapper">
        <div class="col-md-4"><img class="img-responsive" src="img/about-me/steven-jackson.jpg" alt=""></div>
        <div class="col-md-6 col-md-offset-1">

          <div class="list-group">
            <h4 class="list-group-item-heading">Full Name:</h4>
            <p class="list-group-item-text">Steven Daniell Jackson</p>
            <h4 class="list-group-item-heading">Birth Date:</h4>
            <p class="list-group-item-text">2nd November 1988</p>
            <h4 class="list-group-item-heading">Personality Type</h4>
            <p class="list-group-item-text"><a href="https://www.16personalities.com/intj-personality">INTJ</a></p>
            <h4 class="list-group-item-heading">Hobbies</h4>
            <p class="list-group-item-text">Anime, Gaming, Coding and Youtube video creation</p>
          </div>
        </div>
      </div>
    </section>