<section id="about-me-content">
      <div class="container">

        <h2 class="text-center">About Me</h2>

        <div class="col-md-3">
          <div class="panel panel-default" onclick="tabChange(this)" data-tabs="sj-tab1" >
            <div class="panel-body">
              Personality Type 
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body" onclick="tabChange(this)"  data-tabs="sj-tab2">
              Hobbies 
            </div>
          </div>
          <div class="panel panel-default" onclick="tabChange(this)" data-tabs="sj-tab3">
            <div class="panel-body">
              Education 
            </div>
          </div>
          
        </div>

        <div class="col-md-6 col-md-offset-2">
          <p  class="sj-tab1 tabs animated slideInUp active">
            <span class="row">

              <span class="col-md-6"> <b>STRENGTHS</b>  <br><br>
                Quick Thinker<br>
                Imaginative and Strategic Mind<br>
                Highly Self-Confident<br>
                Independent and Decisive<br>
                Hard-working and determined<br>
                Open-minded<br>
                Jacks-of-all-Trades<br>
                Logical<br>
              </span>

              <span class="col-md-6"> <b>WEAKNESSES</b> <br><br>
                Honesty  <br>
                Loyalty <br>
                Overly analytical<br>
                Highly structured environments<br>

              </span>

            </span>
            <br>

          </p>
          <p class="sj-tab2 animated bounceInRight tabs ">
            <span class="row">
            Anime <br>
            Coding<br>
            Gaming<br>
            Creating Youtube Videos<br>
            Researching<br><br>
            <a href="#youtubeChannels">View my Youtube Channels</a>
</span>
          </p>
          <p class="sj-tab3 animated zoomIn tabs">
            <span class="row">
              <span class="col-md-6">
                <b>Education</b><br><br>

 <b>Self Study</b> <br>
            2008 - Current <br> 
            <br> <br>


            <b>Varsity College</b> <br>
            Diploma — 2008 <br> 
            Diploma in Information Technology  <br>
            (Software Development)  <br> <br>

            <b>Matric:</b> <br>
            Northlink College <br>
            Certificate — 2005/2006  <br>
            </span>
             <span class="col-md-6">
                <b>Awards</b><br><br>
ABBOTT’S COLLEGE:  <br>

Annual award for Computer Studies Higher Grade  <br> <br>

BOSMANSDAM HIGH SCHOOL: <br>

Student Monitor <br>
Grade 9 and 10 top achievers award in Mathematics <br>
Member of the debate society <br>
Member of chess society <br> <br>

BOSMANSDAM PRIMARY SCHOOL: <br>

Computor Monitor: <br>
Duty was to lead the computer monitor group. <br>
Responsible for upgrading of schools computers for student’s use

             </span>
</span>
          </p>


        </div>

        <span class="clearfix"></span>
      </div>
    </section>