<section class="container profile-links">
  <h1 class="heading-about-me text-center">
   Profile links
 </h1>
 <div class="row col-md-12">
  <div class="panel panel-default col-md-3 text-center">


    <div class="panel-body" data-trigger="linkedin">
      <i class="fa fa-linkedin-square"></i><br>
      LinkedIn
    </div>
  </div>

  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body" data-trigger="github">
      <i class="fa fa-github-square"></i><br>
      Github
    </div>
  </div>

  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body" data-trigger="google-docs">
     <i class="fa fa-google"></i> <i class="fa fa-hdd-o"></i><br>
     Google Drive
   </div>
 </div>


<div class="panel panel-default col-md-3 text-center">
  <div class="panel-body" data-trigger="porfolio">
    <i class="fa fa-picture-o"></i><br>
    Screenshot Portfolio
  </div>
</div>

</div>
<div class="row col-md-12 text-center profile-link-information" style="opacity: 1;">Google Drive Document containing Work Done, Portfolio of Websites worked on, Skills Matrix and Responsibilies. <br><a href="https://docs.google.com/spreadsheets/d/1s7Or_0nZ1YYS3KibGAVgGdPnjmqB6iYWQPnXvEVpUmw/edit?usp=sharing" target="_blank">View Google Drive Document</a></div>
</section>