<section id="portfolio">
              <div class="container">
                <h2 class="text-center">Portfolio</h2>
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="/assets/img/portfolio-images/earthchild.png" alt="...">
                      <div class="caption">
                        <h4>Websites</h4>
                        <p>Websites that I have worked on.</p>
                        <p><a href="http://steven-daniell-jackson.github.io/portfolio/#/latest" class="btn btn-primary" role="button">See more</a></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="/assets/img/portfolio-images/aa-intouch.png" alt="...">
                      <div class="caption">
                        <h4>Landing Pages</h4>
                        <p>Landing Pages I have built.</p>
                        <p><a href="http://steven-daniell-jackson.github.io/portfolio/#/landingpages" class="btn btn-primary" role="button">See more</a> </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="/assets/img/portfolio-images/blue-train.png" alt="...">
                      <div class="caption">
                        <h4>Newsletters</h4>
                        <p>Newsletters that I have built.</p>
                        <p><a href="http://steven-daniell-jackson.github.io/portfolio/#/newsletters" class="btn btn-primary" role="button">See more</a></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="/assets/img/portfolio-images/limabean.png" alt="...">
                      <div class="caption">
                        <h4>Other</h4>
                        <p>Tests and other projects.</p>
                        <p><a href="http://steven-daniell-jackson.github.io/portfolio/#/other" class="btn btn-primary" role="button">See more</a> </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <h4 class="text-center">Please not that Portfolio has not been updated for a long time. </h4>
            </section>